.first-card {
    background-color: white;
    width: 900px;
    height: 100%;
    padding: 50px;
    margin: 50px;

}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.story-card-wrapper {
    display: flex;
    flex-direction: row;
    width: 900px;

}