.chart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    padding: 2px;
}

/* MEDIA QUERIES */
@media (max-width: 667px) {
    .chart-wrapper {
        background-color: white;
        width: 500px;
        height: 100%;
        padding: 0px;
    }
  }
